{% extends "base_nao.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block head_title %}{% translate "Sign In" %}{% endblock %}

{% block body %}
<br><br><br>



<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="id_login">{% translate "Usuário:" %}</label>
                    <div class="input-group text-h1">
                        {{ form.login }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="id_password">{% translate "Senha:" %}</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock" aria-hidden="true"></i></span>
                        </div>
                        <input type="password" name="{{ form.password.name }}" id="id_password" class="form-control" required placeholder="{% translate 'Digite sua senha.' %}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" aria-label="Mostrar senha" onclick="togglePassword('id_password')">
                                <i class="fas fa-eye" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </div>
                
                <style>
                    /* Adicione esta parte ao seu bloco de estilos existente */
                    .input-group {
                        height: 50px; /* Ajuste a altura conforme necessário */
                    }
                
                    .input-group .form-control {
                        height: 50px; /* Ajuste a altura conforme necessário */
                    }
                
                    .input-group-append .btn {
                        padding: 6px 10px; /* Ajuste o padding conforme necessário */
                    }
                    .mar {
                        background-color: #9f4907;
                    }
                    .mar:hover {
                        background-color: #E28743;
                    }
                </style>   

                <button type="submit" class="btn mar">{% translate "Entrar" %}</button>
            </form>
            
            <div class="forgot-password">
                <br>
                <a class="button secondaryAction cor-link" href="{% url 'account_reset_password' %}"><strong>{% translate "Esqueceu a senha?" %}</strong></a>
          
            </div>
            <div class="mb-1">
                <div class="br-checkbox">
                    
                    <input id="keep_connected_checkbox" name="keep_connected_checkbox" type="checkbox"
                        aria-label="Manter-me conectado" />
                        
                    <label for="keep_connected_checkbox">{% translate "Manter-me conectado" %}</label>
                </div>
            </div>
        <span class="br-divider my-3"></span>
        <p class="first-access-href">
            <a style="text-decoration-line: none" href="{% url 'account_signup' %}" class="cor-link"><strong>{% translate "Primeiro Acesso?" %}</strong></a>
        </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'img/logins.png' %}" class="img-fluid" alt="Imagem de Login">
        </div>
    </div>
</div>

 <style>
        /* Add your additional styles here */
        body {
            background-color: #f4f4f4;
        }

       

        .login-form {
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        label {
            font-weight: bold;
        }

        .input-group {
            margin-bottom: 20px;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .input-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
        }

        button.btn {
            background-color: #E28743;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        button.btn:hover {
            background-color: #9f4907;
        }

        .forgot-password a {
            color: #E28743;
        }

        .forgot-password a:hover {
            text-decoration: underline;
        }

        .br-checkbox {
            margin-top: 10px;
        }

        .br-divider {
            display: block;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }

        .first-access-href a {
            color: #E28743;
            font-weight: bold;
        }

        .first-access-href a:hover {
            text-decoration: underline;
        }
    </style>
    <script>
        function togglePassword() {
          const passwordInput = document.getElementById('id_password');
          const toggleButton = document.querySelector('.btn-outline-secondary');
      
          if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            toggleButton.innerHTML = '<i class="fas fa-eye-slash" aria-hidden="true"></i>';
          } else {
            passwordInput.type = 'password';
            toggleButton.innerHTML = '<i class="fas fa-eye" aria-hidden="true"></i>';
          }
        }
      </script>

{% endblock %}