{% extends 'base_logada.html' %}
{% load static %}


{% block body %}

<br><br><br>

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contato</h2>
            <p>Dúvidas? Entre em contato!</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
              <div class="info">
                <div class="address">
                  <i class="bi bi-geo-alt"></i>
                  <h4>Localização:</h4>
                  <p>Quilombo sítio pêga, Rio grande do norte, RN</p>
                </div>
  
                <div class="email">
                  <i class="bi bi-envelope"></i>
                  <h4>Email:</h4>
                  <p>filomenas2019@gmail.com</p>
                </div>
  
                <div class="phone">
                  <i class="bi bi-phone"></i>
                  <h4>Telefone:</h4>
                  <p>84 999221155</p>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d991.9472554460212!2d-37.991271572728145!3d-6.023673620483702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7bb281bedec5301%3A0x1b6b19b5bfae9e76!2sPortalegre%20-%20State%20of%20Rio%20Grande%20do%20Norte!5e0!3m2!1sen!2sbr!4v1703265907305!5m2!1sen!2sbr" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
              </div>
  
            </div>
  
            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="name">Seu nome:</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="nome" required>
                  </div>
                  <div class="form-group col-md-6 mt-3 mt-md-0">
                    <label for="name">Seu email:</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="email" required>
                  </div>
                </div>
                <div class="form-group mt-3">
                  <label for="name">Assunto:</label>
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="assunto" required>
                </div>
                <div class="form-group mt-3">
                  <label for="name">Mensagem:</label>
                  <textarea class="form-control" name="messagem" rows="10" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Sua mensagem foi enviada. Obrigada!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar</button></div>
              </form>
            </div>
  
          </div>
  
        </div>
      </section><!-- End Contact Us Section -->
<br><br><br><br><br><br><br><br><br><br>

{% endblock body %}
    