{% extends 'base_logada.html' %}
{% load static %}

{% block body %}
    
<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">
    <br><br>
    <div class="section-title" data-aos="fade-up">
      <h2>Filomenas</h2>
      <p>Informções das nossas Filomenas</p>
    </div>

    <div class="row">
      {% for filomena in filomenas %}
      <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
        <div class="card h-100">
          <img src="{{ filomena.imagem.url }}" class="card-img-top" alt="{{ filomena.nome }}">
          <div class="card-body">
            <h6 class="card-title"><strong>Nome:</strong> {{ filomena.filomena }}</h6>
            <p class="card-text"><strong>Idade:</strong> {{ filomena.idade }}</p>
            <p class="card-text"><strong>Sobre mim:</strong> {{ filomena.descricao }}</p>
            <p class="card-text"><strong>Email: </strong>{{ filomena.email }}</p>
            <p class="card-text"><strong>Telefone:</strong> {{ filomena.telefone }}</p>
          </div>
          <div class="card-footer text-center">
            <div class="social-icons">
              <a href="#" class="social-icon"><i class="bi bi-whatsapp" style="font-size: 24px; margin-right: 30px;"></i></a>
              <a href="#" class="social-icon"><i class="bi bi-facebook" style="font-size: 24px; margin-right: 30px;"></i></a>
              <a href="#" class="social-icon"><i class="bi bi-instagram" style="font-size: 24px; margin-right: 30px;"></i></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section><!-- End Team Section -->

<style>
  .pagination-container {
      margin-top: 20px;
  }

  .pagination {
      display: flex;
      justify-content: center;
      list-style: none;
  }

  .page-item {
      margin: 0 5px;
  }

  .page-link {
      color: #E28743;
      background-color: #fff;
      border: 1px solid #E28743;
  }

  .page-link:hover,
  .page-link:focus {
      color: #fff;
      background-color: #E28743;
      border: 1px solid #E28743;
  }

  .page-item.active .page-link {
      z-index: 3;
      color: #fff;
      background-color: #E28743;
      border: 1px solid #E28743;
  }
</style>

<div class="container text-center">
  <div class="row">
      <div class="col"></div>
      <div class="col">
          <div class="pagination-container">
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page=1&search={{ request.GET.search }}" aria-label="First">
                              <span aria-hidden="true">&laquo;&laquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}

                  {% for pg in page_obj.paginator.page_range %}
                      <li class="page-item {% if page_obj.number == pg %}active{% endif %}">
                          <a class="page-link" href="?page={{ pg }}&search={{ request.GET.search }}">{{ pg }}</a>
                      </li>
                  {% endfor %}

                  {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}" aria-label="Last">
                              <span aria-hidden="true">&raquo;&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </div>
      </div>
      <div class="col"></div>
  </div>
</div>

{% endblock body %}
