{% extends 'base_logada.html' %}
{% load static %}


  
{% block body %}
<br><br>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Estadias</h2>
          <p>Não deixe de reservar sua estadia!</p>
        </div>

        <!-- Adicione este formulário no início do seu bloco body -->
<form method="get" action="{% url 'listar_log' %}" class="mt-3">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Valor mínimo" name="search_valor_min">
                <div class="input-group-prepend">
                    <span class="input-group-text">-</span>
                </div>
                <input type="text" class="form-control" placeholder="Valor máximo" name="search_valor_max">
                <div class="input-group-append">
                    <button class="btn btna" type="submit">Buscar <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg></button>
                    <style>
                        .btna {
                            background-color: #E28743;
                            color: #fff;
                        }
                
                        .btna:hover {
                            background-color: #d16512;
                            color: #fff;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</form>

{% if estadias %}
    <!-- Código existente para exibir estadias filtradas -->
    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
        {% for estadia in estadias %}
            <!-- Código para exibir cada estadia -->
        {% endfor %}
    </div>
{% else %}
    
    <div class="text-center mt-4">
        <div class="" role="alert">
            Nenhuma estadia encontrada para os valores de busca:
            {% if search_valor_min %}Valor Mínimo: {{ search_valor_min }}{% endif %}
            {% if search_valor_min and search_valor_max %} e {% endif %}
            {% if search_valor_max %}Valor Máximo: {{ search_valor_max }}{% endif %}
        </div>
    </div>
{% endif %}

<br><br>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for estadia in estadias %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ estadia.imagem.url }}" class="img-fluid img-fixed-size" alt="">
              <style>
                .img-fixed-size {
                    width: 100%; /* Defina o tamanho desejado em pixels ou porcentagem */
                    height: auto; /* Mantém a proporção original da imagem */
                    max-width: 300px; /* Limita a largura máxima da imagem, ajuste conforme necessário */
                    max-height: 200px; /* Limita a altura máxima da imagem, ajuste conforme necessário */
                    display: block; /* Evita espaçamento extra na parte inferior da imagem */
                    margin: 0 auto; /* Centraliza a imagem no contêiner pai */
                }
            </style>
            
              <div class="portfolio-links">
                <a href="{% static 'img/logo.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ver imagem"><i class="bi bi-plus"></i></a>
                <a href="{% url 'detalhar_log' estadia.pk%}" title="mais detalhes"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4><strong>{{ estadia.nome }}</strong></h4>
                <p>{{ estadia.valor }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section><!-- End Portfolio Section -->
    <style>
      .pagination-container {
          margin-top: 20px;
      }
  
      .pagination {
          display: flex;
          justify-content: center;
          list-style: none;
      }
  
      .page-item {
          margin: 0 5px;
      }
  
      .page-link {
          color: #E28743;
          background-color: #fff;
          border: 1px solid #E28743;
      }
  
      .page-link:hover,
      .page-link:focus {
          color: #fff;
          background-color: #E28743;
          border: 1px solid #E28743;
      }
  
      .page-item.active .page-link {
          z-index: 3;
          color: #fff;
          background-color: #E28743;
          border: 1px solid #E28743;
      }
  </style>
  
<div class="container text-center">
  <div class="row">
      <div class="col"></div>
      <div class="col">
          <div class="pagination-container">
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page=1&search={{ request.GET.search }}" aria-label="First">
                              <span aria-hidden="true">&laquo;&laquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}

                  {% for pg in page_obj.paginator.page_range %}
                      <li class="page-item {% if page_obj.number == pg %}active{% endif %}">
                          <a class="page-link" href="?page={{ pg }}&search={{ request.GET.search }}">{{ pg }}</a>
                      </li>
                  {% endfor %}

                  {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}" aria-label="Last">
                              <span aria-hidden="true">&raquo;&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </div>
      </div>
      <div class="col"></div>
  </div>
</div>
{% endblock  %}