{% extends 'base_logada.html' %}
{% load static %}


  
{% block body %}
<br><br><br>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Estadias</h2>
          <p>Check out our beautifull portfolio</p>
        </div>
        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for estadia in estadias %}

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{ estadia.imagem.url }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'img/logo.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="ver imagem"><i class="bi bi-plus"></i></a>
                <a href="{% url 'detalhar_log' estadia.pk%}" title="mais detalhes"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4><strong>{{ estadia.nome }}</strong></h4>
                <p>{{ estadia.valor }}</p>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </section><!-- End Portfolio Section -->
    <style>
      .pagination-container {
          margin-top: 20px;
      }
  
      .pagination {
          display: flex;
          justify-content: center;
          list-style: none;
      }
  
      .page-item {
          margin: 0 5px;
      }
  
      .page-link {
          color: #E28743;
          background-color: #fff;
          border: 1px solid #E28743;
      }
  
      .page-link:hover,
      .page-link:focus {
          color: #fff;
          background-color: #E28743;
          border: 1px solid #E28743;
      }
  
      .page-item.active .page-link {
          z-index: 3;
          color: #fff;
          background-color: #E28743;
          border: 1px solid #E28743;
      }
  </style>
  
<div class="container text-center">
  <div class="row">
      <div class="col"></div>
      <div class="col">
          <div class="pagination-container">
              <ul class="pagination">
                  {% if page_obj.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page=1&search={{ request.GET.search }}" aria-label="First">
                              <span aria-hidden="true">&laquo;&laquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                  {% endif %}

                  {% for pg in page_obj.paginator.page_range %}
                      <li class="page-item {% if page_obj.number == pg %}active{% endif %}">
                          <a class="page-link" href="?page={{ pg }}&search={{ request.GET.search }}">{{ pg }}</a>
                      </li>
                  {% endfor %}

                  {% if page_obj.has_next %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                      <li class="page-item">
                          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}" aria-label="Last">
                              <span aria-hidden="true">&raquo;&raquo;</span>
                          </a>
                      </li>
                  {% endif %}
              </ul>
          </div>
      </div>
      <div class="col"></div>
  </div>
</div>
{% endblock  %}